<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head.ejs')%>
  </head>
  <body class="container">
    <header class='one a'>
        <%- include('../../layout/header.ejs')%>
    </header>
    <main>
      <ul>
        <li>
          <section>
            <img src="<%=book.image_url%>">
            <p><%=book.title%></p>
            <p><%=book.author%></p>
            <p><%=book.description%></p>
            <p><%=book.isbn%></p>
            <section>
              <form action="/edit/<%=book.id%>" method="GET">
                <button>Update details</button>
              </form>
            </section>
            <section>
              <form action="/delete/<%=book.id%>?_method=DELETE" method="POST">
                <button>Delete book</button>
              </form>
            </section>
          </section>
        </li>
      </ul>
    </main>
  </body>
</html>
