
        <section>
            <%- include('./detail.ejs')%>
        </section>
    
          <!-- <form action="/update/<%=book.id%>?_method=PUT" method="POST">
            <input type="text" name="img" value="<%=book.image_url%>" placeholder="<%=book.image_url%>"/><img src="" alt="">
            <input type="text" name="title" value="<%=book.title%>" placeholder="<%=book.title%>"/><p></p>
            <input type="text" name="author" value="<%=book.author%>" placeholder="<%=book.author%>"/>
            <input type="text" name="description" value="<%=book.description%>" placeholder="<%=book.description%>"/>
            <input type="text" name="isbn" value="<%=book.isbn%>" placeholder="<%=book.isbn%>"/>
            <button type="submit">Update details</button>
          </form> -->


            <!-- <form action="/books" method="POST">
        <input type="hidden" name="img" value="<%=item.image_url%>"/><img src="<%=item.image_url%>">
        <input type="hidden" name="title" value="<%=item.title%>"/><p><%=item.title%></p>
        <input type="hidden" name="author" value="<%=item.author%>"/><p><%=item.author%></p>
        <input type="hidden" name="description" value="<%=item.description%>"/><p><%=item.description%></p>
        <input type="hidden" name="isbn" value="<%=item.isbn%>"/>
        <button type="submit">Add to my Shelfbook</button>
        </form> -->