<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head.ejs')%>
  </head>
  <body class="container">
    <header class='one a'>
      <%- include('../layout/header.ejs')%>
      <section class="length"><p><%=book.length%> books</p></section>
    </header>
    <main class="contOFcont">
        <% book.forEach(item=>{%>
          <section class="sec-container">
            <img class="img1" src="<%=item.image_url%>">
            <p class="p1"><%=item.title%></p>
            <p class="p2"><%=item.author%></p>
            <button class="btn1"><a class="bookBtn" href="/books/<%=item.id%>">View Details</a></button>
          </section>
        <%})%>
    </main>
  </body>
</html>
