<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head.ejs')%>
  </head>
  <body>
    <header>
      <%- include('../layout/header.ejs')%>
      <p><%=book.length%></p>
    </header>
    <main>
      <ul>
        <% book.forEach(item=>{%>
        <li>
          <img src="<%=item.image_url%>">
          <p><%=item.title%></p>
          <p><%=item.author%></p>
          <a class="bookBtn" href="/books/<%=item.id%>">View Details</a>
        </li>
        <%})%>
      </ul>
    </main>
  </body>
</html>
