<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head.ejs')%>
  </head>
  <body class="container">
    <header class='one a'>
      <%- include('../layout/header.ejs')%>
      <section><p><%=book.length%></p></section>
    </header>
    <main>
      <ul>
        <% book.forEach(item=>{%>
        <li>
          <img src="<%=item.image_url%>">
          <p><%=item.title%></p>
          <p><%=item.author%></p>
          <a class="bookBtn" href="/books/<%=item.id%>">View Details</a>
        </li>
        <%})%>
      </ul>
    </main>
  </body>
</html>
